@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
#headnav{
    color: gray;
    font-size: 15px;
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#headnav > li{
    display: inline;
    margin: 0 20px 0 0 ;
}

#headnav a{
    text-decoration: none;/* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
body{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Hack';
}
header{
    color:  rebeccapurple;
    background-color: white;
    padding: 20px;
    font-weight: bolder;
    font-family: 'Abril Fatface';
    padding-left: 65px;

}


/* 드롭다운 */
/*가로메뉴형*/

#menu {
    height: 50px;
    background: white;
    border-bottom:3px solid blueviolet;
    font-family: 'Jua';
    font-size: 25px;
}

.main1 a{
    text-decoration: none;/* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

#menu ul{
    list-style: none;
    float: left;

}
.main1 {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    color: black;
    font-weight: bolder;
}



.main1>li {
    float: left;
    width: 25%;
    line-height: 50px;
    text-align: center;
    position: relative;
}



.main1>li:hover .main2 {
    left: 0;
}


.main1>li a {
    display: block;
    width: 100%;
}

.main1>li a:hover {
    background: slateblue;
    color: #fff;

}

.main2 {
    position: absolute;
    top: 50px;
    left: -9999px;
    background: rgba(200, 204, 247, 0.726);
    width: 120%;
    border:5px solid slateblue;
    border-radius: 15px;
    text-align: center;
    z-index: 2;
}
.main2>li {
    position: relative;
    text-align: center;
}

/* 추천도서 쪽 */

#recommanded1{
    margin: 15px 25px 0px 0px;
    font-family: 'Jua';
    font-size: 20px;
    padding-left: 72px;
    font-weight: bold;
}



.form1, .form2{
    float: right;
}

.delbtn, .updatebtn{
    border:3px solid slateblue;
    border-radius: 5px;
    background-color: snow;
    font-size: 25px;
    width: auto;
    font-family: 'Jua';
    align-content: center;
    margin: 2px;
}

hr.myhrline{
    border: thin solid white;
    height : 50px;
    width: auto;
}

/* footer */
#footernav{
    color: black;
    font-size: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Jua';
    text-align: center;
    font-weight: bold;

}

#footernav > li{
    display: inline;
    margin: 10px;
    padding: 10px;
}

#footernav a{
    text-decoration: none;/* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

#copyright{
    border-top:3px solid gray;
    text-align: center;
    font-weight: bolder;
    margin: 20px;
    padding: 10px;
}

hr.myhr{
    border: thin solid blueviolet;
}

.mainpage a{
    text-decoration: none;/* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

table {
    padding-left: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 70%;

    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;

}

