<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
    <title>Error Page</title>
</head>
<body>
<div id="error-page">
    <div class="content">
        <h2 class="header" data-text="앗!">
            앗!
        </h2>

        <h4 data-text="잘못된 접근입니다.">
            잘못된 접근입니다.
        </h4>
        <p>
            현재 해당 요청에 대한 접근 권한이 없습니다. 뒤로가기 또는 하단 로그인버튼을 통해 권한이 있는 사용자로 재 로그인 해주세요.
        </p>
        <div class="btns">
            <a href="/">로그인</a>
        </div>
        <p><span class="my_text">원룸 구하기 NO.1 OneRoomy</span></p>
    </div>
</div>

</body>
</html>