<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/editinfo.css}"/>
    <title>메인 페이지</title>
</head>
<body>
<form action="/editinfo" method="GET">
        <!-- 현재 로그인한 회원 id를 찾은 뒤 여기로 전달해줘야함 -->
<!--    현재 로그인 시, userid를 메인 페이지에 전달해서 뿌려주고 있음-->
    <input id="login_user" type="hidden" name="id" th:value="${user.id}">
    <button type="submit">회원정보수정</button>
    <button type="button" onClick="location.href='/logout'" style="background-color: lightsalmon;">로그아웃</button>
    <button type="button" onClick="location.href='/OneRoom/enroll'" style="background-color: palegreen;">원룸 등록하기</button>
    <button type="button" onClick="location.href='/OneRoom/search'" style="background-color: chocolate">원룸 검색으로 이동</button>
</form>

<!--원룸 등록 시, 등록한 원룸을 보여줌-->
<table class="rwd-table">
    <tr>
        <th>원룸 명</th>
        <th>월세</th>
        <th>위치</th>
        <th>임대기간</th>
        <th>추가사항</th>
    </tr>
    <!-- tr th:each : 행 반복문을 수행하겠다는 의미입니다 [여러 데이터 출력] -->
    <tr th:each="room : ${roomList}">
        <td data-th="원룸 명"><a th:href="@{/OneRoom/information(id=${room.id})}" th:text="${room.roomName}"></a></td>
        <td data-th="월세"><span th:text="|${room.roomMonthly}만원|"></span></td>
        <td data-th="위치"><span th:text="${room.roomLocations}"></span></td>
        <td data-th="임대기간"><span th:text="|${room.roomRentLength}개월|"></span></td>
        <td data-th="추가사항"><span th:text="${room.roomDescription}"></span></td>
    </tr>
</table>


<script th:inline="javascript">
    /**  홈화면에 접속 시, 현재 접속한 유저의 ID 값 Update */
    const login_userID = document.getElementById('login_user').value;
    localStorage.setItem('login_userId', login_userID);
</script>
</body>
</html>



