<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <title>로그인/회원가입 페이지</title>
</head>
<body style="background-image: url('background/street.png'); background-size: cover; background-repeat: no-repeat;">
<!-- <form action="/signup" method="post" > -->
<h1 class="welcome">Welcome to OneRoomy!</h1>
<div class="container" id="container">

    <div class="form-container sign-up-container">
        <form action="/signup" method="post">
            <h1>회원 가입</h1>
            <div class="social-container">
            </div>
            <span>성명 및 휴대전화 번호는 수정이 불가능합니다.</span>
            <input type="text" placeholder="성명" name="username"/>
            <input type="text" placeholder="휴대전화 번호" name="phonenumber"/>
            <input type="password" placeholder="비밀번호" name="password" />
            <input type="text" placeholder="거주지" name="locations"/>
            <input type="text" placeholder="대학명"name="university"/>
            <button>회원 가입</button>
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form action="/signin" method="post">
            <h1>로그인</h1>
            <div class="social-container">
            </div>
            <input type="text" placeholder="휴대전화 번호" name="phonenumber"/>
            <input type="password" placeholder="비밀번호" name="password" />
            <a href="#">비밀번호를 잊으셨나요?</a>
            <button>로그인</button>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2>이미 계정이 있으신가요?</h1>
                    <p>여기에서 로그인하세요!</p>
                    <button class="ghost" id="signIn">로그인</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>OneRoomy</h1>
                <h3>대학가 원룸 구하기 No.1</h3>
                <p>간단한 정보를 입력 후, 쉽고 편리하게 대학가의 원룸을 임대/임차 해보세요!</p>
                <button class="ghost" id="signUp">회원가입</button>
            </div>
        </div>
    </div>
</div>
<!-- </form> -->
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

</script>
</body>
</html>